<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khuyên Xỏ</title>
    <link rel="stylesheet" href="../public/CSS/style.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="search-login">
                <div class="logo">
                    <a href="./index.ejs"><img src="../public/IMG/logo.jpg" class="img-logo" alt="Logo Lili-Premium"></a>
                </div>
                <div class="search">
                    <input type="text" class="search-input" placeholder="Tìm kiếm">
                </div>
                <div class="login">
                    <button class="button-login"><a href="#" class="a-login">Login</a></button>
                </div>
                <div class="carts">
                    <button class="button-carts"><a href="#" class="a-carts">Giỏ Hàng</a></button>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="./Bracelets-Shake-Your-Hands.ejs">VÒNG-LẮC</a></li>
                    <li><a href="./Wrist-Rings.ejs">NHẪN</a></li>
                    <li><a href="./Earrings.ejs">BÔNG TAI</a></li>
                    <li><a href="./Piercing.ejs">XUYÊN XỎ</a></li>
                    <li><a href="./Double-Jewelry.ejs">TRANG SỨC ĐÔI</a></li>
                    <li><a href="./Jewelry-Sets.ejs">TRANG SỨC BỘ</a></li>
                    <li><a href="./Feng-Shui.ejs">PHONG THỦY</a></li>
                    <li><a href="./Gift.ejs">QUÀ TẶNG</a></li>
                    <li><a href="./Accessory.ejs">PHỤ KIỆN</a></li>
                </ul>
            </div>
        </header>
        <div class="section">
            <div class="box-img">
                <img src="../public/IMG/xuyenxo.jpg" class="img-shake" alt="Bracelets-Shake-YourHands">
            </div>
            <div class="box-dexuat">
                <h2 class="dexuat">----------------------------  SẢN PHẨM ĐỀ XUẤT  ----------------------------</h2>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>    